
@funnycolor: rgb(255, 116, 0);
@brandcolor: #7f7f7f;
@blackcolor: #454545;

@import "../vendor/bootstrap/bootstrap";
@import "_layout";
@import "_index";
@import "_paper";

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

a {
  color: @funnycolor;
   &:hover {
     color: @funnycolor;
  }
}





.resource-inactive {

  h4, p {
    color: lightgrey !important;
  }

}
