
@import "../vendor/bootstrap/bootstrap";



.Paper {



  .Paper__Header {

    margin: 0 15%;
    margin-bottom: 50px;
    text-align: center;



    h1 {
      margin: 0;
      padding: 0;
    }

    small {

      font-size: 12px;
      color: #2e3436;

    }

  }


}


.resource-inactive {

  h4, p {
    color: lightgrey !important;
  }

}
