<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta id="token" name="token" value="{{ csrf_token() }}">
    <title>PaperGateway</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="/css/paper-gateway-theme.css">

    <style>
        body {
            font-family: 'Abel';
        }
    </style>
</head>
<body id="app">

    <header class="page-header">
        <div class="container">
            <h1><i class="fa fa-paper-plane-o"></i> Paper<strong>Gateway</strong> [tw]</h1>
        </div>
    </header>



    {% block content %} {% endblock %}


    <footer>
        <div class="container">
            <div class="text-muted">
                <p class="pull-right"><i class="fa fa-terminal"></i> dev by <a href="http://www.lopia.de" target="_blank">Lopia</a></p>
                <p>visit <a href="{{ global_footer_url }}" target="_blank">{{ global_footer_text }}</a> (also for imprint)</p>
            </div>
        </div>
    </footer>

    {% block js %} {% endblock %}
    <script src="/js/paper-gateway.js"></script>
</body>
</html>
